@page "/"

<PageTitle>Home</PageTitle>
<div id="topContainer">
    <div id="navMenu">
        <span id="navHeader">SpaceTraders</span>
        <button id="agentMenu">Agent</button>
        <button id="shipsMenu">Ships</button>
    </div>
    <div id="contentContainer">
        Content will go here.
    </div>
</div>